@page "/"
@using Blazority
@using VFrameworkBlazor.Terraform
@inject IJSRuntime JsRuntime
<h1>Virtualisation Framework</h1>

<p>
    Would you like to make a new concept environment or deploy a default one?
</p>
<br />
<Button Label="Default" Variant="Primary" @onclick="SynthDefault"></Button>
<Button Label="Custom" Variant="Info" @onclick="warning"></Button>
@code{
    async Task SynthDefault()
    {
        HashiCorp.Cdktf.App app = new HashiCorp.Cdktf.App();
        new Terraform.TfLogic(app, "azure");
        app.Synth();
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "The Terraform files have been generated");

    }
}

@code {
    async Task warning()
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?"); // Confirm

        if (confirmed)
        {
            string prompted = await JsRuntime.InvokeAsync<string>("prompt", "thanks"); // Prompt

        }
    }
}

<SurveyPrompt Title="How is Blazor working for you?" />
