@page "/"
@using Blazority
@using VFrameworkBlazor.Terraform
@using VFrameworkBlazor.Utility
@inject IJSRuntime JsRuntime
@inject NavigationManager NavMan
<h1>Virtualisation Framework</h1>

<p>
    Would you like to make a new concept environment or deploy a default one?
</p>
<br />
<Button Label="Default" Variant="Primary" @onclick="SynthDefault"></Button>
@*<Spinner Inline="true"></Spinner>*@

<Button Label="Custom" Variant="Info" @onclick="NavToCustom"></Button>


@code{
    async Task SynthDefault()
    {
        TfLogic.Init();
        await JsRuntime.InvokeVoidAsync("alert", "The Terraform files have been generated");
        await JsRuntime.InvokeVoidAsync("alert", "clean the cdktf.out dir");
        FileCleanup.CleanUpOutFolder();
    }
}

@code {
    async Task NavToCustom()
    {
        NavMan.NavigateTo("customtf");
    }
}

<SurveyPrompt Title="How is Blazor working for you?" />
